<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: site-head">
    <title th:text="${position.symbol}"> Details</title>
</head>

<body>
<header th:replace="layout :: site-header" />

<h2>Watch List</h2>
    <a href="#" th:each="w : ${watchList}" th:text="${w.symbol}"
       th:href="@{/watch/view/{id}/(id=${p.id})}">Work Begins on HTML5.1</a>
       
<main id="watch">
    <article>
        Symbol:  <h2 class="title" th:text="${position.symbol}">symbol Title</h2>
        <div class="date">
            <i>Purchased on</i>
                    <!--  
            <span th:text="${#dates.format(position.purchaseDate, 'dd-MMM-yyyy')}">22-May-2016</span>
          -->   </div>
Purchase Price <span th:text="${position.purchasePrice}" >123</span>
               
     
      Shares Purchased  <p class="content" th:utext="${position.purchaseShares}">Post content</p>
    </article>
</main>

<footer th:replace="layout :: site-footer" />
</body>

</html>

