
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

    <h2>Position Details</h2>
        <div>
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 control-label">watch Id:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${position.id}">position Id</p></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Symbol:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${position.symbol}">Symbol</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Purchase Price:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${position.purchasePrice}">Priceaddd</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Purchase Shares:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${position.purchaseShares}">entry</p>
                    </div>
                </div>
<!--                  
				<div class="form-group">
                    <label class="col-sm-2 control-label">Purchase Date:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${position.purchasePrice}">entry</p>
                    </div>
                </div>
       -->
            </form>
    </div>
</div>
</body>
</html>